.bg-orange{
    background-color: #a37230;
    text-align: center;
}

header{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    color: white !important;
}

h1, h2, h3, h4, h5, h6{
    color: #a37230 !important;
}

.mb-100{
    margin-bottom: 100px;
}

body{
    font-family: sans-serif;
}

.btn-prev-next{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 60px;
    width: 200px;
}

.margin-left-right-50{
    margin-left: 50px;
    margin-right: 50px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.medium-card {
  max-width: 700px;
  margin: 0 auto;
}

.medium-card img {
  max-height: 700px;
  object-fit: cover;
}

.card-img {
  max-width: 600px;          
  height: 600px;        
  object-fit: contain;   
  background-color: #f0f0f0; 
  display: block;
}

.review-card {
    background-color: #f5a623; 
    padding: 20px 25px; 
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
    color: #fff; 
    font-family: 'Arial', sans-serif;
}

.review-card h3 {
    margin: 0 0 10px 0;
    font-size: 1.4em;
    font-weight: bold;
}

.review-card p {
    margin: 0;
    font-size: 1em;
    line-height: 1.5;
}